config_opts['root'] = 'centos-6-x86_64'

config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)

#
# EL6 uses the legacy YUM stack.
#
config_opts['package_manager'] = 'yum'

#
# Use a bootstrap chroot so dependency resolution is performed by the
# real EL6 YUM stack instead of the build host's /usr/bin/yum, which may
# actually be a DNF wrapper on modern EL8/EL9/EL10 build hosts.
#
# Do not use a bootstrap container image. Mock can create the small
# bootstrap chroot using the configured EL6 repositories and then use
# EL6 YUM for all operations against the real buildroot.
#
config_opts['use_bootstrap'] = True
config_opts['use_bootstrap_image'] = False

#
# yum-builddep is provided by yum-utils on EL6. Explicitly configure it
# because "yum builddep" does not exist in the legacy YUM implementation.
#
config_opts['yum_install_command'] = 'install yum yum-utils'
config_opts['yum_builddep_command'] = '/usr/bin/yum-builddep'

#
# A simple chroot is more predictable for an old EL6 userspace.
#
config_opts['isolation'] = 'simple'

#
# Minimal RPM build environment.
#
# Do not put rpmdevtools here unless you also add an EPEL6 repository.
# rpm-build and redhat-rpm-config are sufficient for the RPM build
# infrastructure itself.
#
config_opts['chroot_setup_cmd'] = (
    'install '
    'bash '
    'bzip2 '
    'coreutils '
    'cpio '
    'diffutils '
    'findutils '
    'gawk '
    'grep '
    'gzip '
    'info '
    'make '
    'patch '
    'redhat-rpm-config '
    'rpm-build '
    'sed '
    'shadow-utils '
    'tar '
    'unzip '
    'xz '
    'yum'
)

config_opts['dist'] = 'el6'
config_opts['releasever'] = '6'

#
# Define the EL6 RPM macros explicitly in the Mock configuration.
#
# config_opts['dist'] is a Mock setting and does NOT define the RPM %dist
# macro.  Mock rebuilds the input SRPM during build-dependency resolution.
# %dist therefore has to be stable from the very first rpmbuild invocation;
# otherwise Mock can create both:
#
#   golang-1.23.12-1.src.rpm
#   golang-1.23.12-1.el6.src.rpm
#
# in the same SRPMS directory and abort because it finds two rebuilt SRPMs.
#
config_opts['macros']['%dist'] = '.el6'
config_opts['macros']['%rhel'] = '6'
config_opts['macros']['%el6'] = '1'
config_opts['macros']['%centos'] = '6'
config_opts['macros']['%centos_ver'] = '6'

#
# Avoid the DNF warning because this buildroot intentionally uses YUM.
#
config_opts['dnf_warning'] = False

#
# EL6 repositories are EOL archives.
#
# For the first validation, use gpgcheck=0 just as in the Docker
# build that already worked. Once the build is stable, I recommend
# mirroring these packages internally and enabling package verification.
#
config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log

assumeyes=1
exactarch=1
obsoletes=1

plugins=0

timeout=300
retries=10

gpgcheck=0


[base]
name=CentOS-6.10 - Base
baseurl=http://ftp.iij.ad.jp/pub/linux/centos-vault/6.10/os/x86_64/
enabled=1
gpgcheck=0


[updates]
name=CentOS-6.10 - Updates
baseurl=http://ftp.iij.ad.jp/pub/linux/centos-vault/6.10/updates/x86_64/
enabled=1
gpgcheck=0


[extras]
name=CentOS-6.10 - Extras
baseurl=http://ftp.iij.ad.jp/pub/linux/centos-vault/6.10/extras/x86_64/
enabled=1
gpgcheck=0


#
# Software Collections.
#
# EL6 ships GCC 4.4.x, which is too old for modern Go cgo.
# Go requires GCC >= 4.6 for cgo, so these repositories allow
# the Go RPM spec to BuildRequire devtoolset-7-gcc.
#
[sclo-rh]
name=CentOS-6.10 - SCLo RH
baseurl=http://ftp.iij.ad.jp/pub/linux/centos-vault/6.10/sclo/x86_64/rh/
enabled=1
gpgcheck=0


[sclo-sclo]
name=CentOS-6.10 - SCLo SCLo
baseurl=http://ftp.iij.ad.jp/pub/linux/centos-vault/6.10/sclo/x86_64/sclo/
enabled=1
gpgcheck=0
"""